
@model AddClientForm


<div id="addClientModal" class="modal">
    <div class="modal-content">
        
        <div class="modal-header">
            <h3>Add Client</h3>
            <button type="button" class="btn-close" data-type="modal" data-target="#addClientModal" data-close="true"></button>
        </div>

        <form class="ajaxForm" novalidate method="post" asp-action="AddClient" asp-controller="Admin">

            <div class="image-previewer circle ">
                <img src="" class="image-preview" />
                <input asp-for="ClientImage" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="ClientName"></label>
                <div class="field-group">
                    <input asp-for="ClientName" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>
            
            <button type="submit" class="btn btn-submit btn-blue">Create</button>
        
        </form>

    </div>
</div>

