
@model AddProjectForm


<div id="addProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Add New Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="AddProject" asp-controller="Admin" enctype="multipart/form-data">

            <div class="image-previewer circle ">
                <img src="" class="image-preview" />
                <input asp-for="Image" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <input asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StartDate"></label>
                <div class="field-group">
                    <input asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"></label>
                <div class="field-group">
                    <input asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="ClientId">Client</label>
                <div class="field-group">
                    <select asp-for="ClientId" class="form-control">
                        <option disabled selected value="">Select a client</option>
                    </select>
                    <span asp-validation-for="ClientId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MemberId">Member</label>
                <div class="field-group">
                    <select asp-for="MemberId" class="form-control">
                        <option disabled selected value="">Select a member</option>
                        <!-- Fyll med dina medlemmar -->
                    </select>
                    <span asp-validation-for="MemberId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StatusId">Status</label>
                <div class="field-group">
                    <select asp-for="StatusId" class="form-control">
                        <option disabled selected value="">Select status</option>
                        <!-- Fyll med dina statusar -->
                    </select>
                    <span asp-validation-for="StatusId"></span>
                </div>
            </div>

            

            <button type="submit" class="btn btn-submit">Create</button>

        </form>

    </div>
</div>

