@model Client

<tr class="card">
    <td>
        <div>
            <div class="client-name">@Model.ClientName</div>
        </div>
    </td>
    <td>
        <i class="fa-regular fa-ellipsis"
           data-modal="true"
           data-target="#editClientModal"
           data-id="@Model.Id"
           data-clientname="@Model.ClientName">
        </i>
    </td>
</tr>
