@model Client

<div class="member-card">
    <img src="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? "/Images/Avatars/Avatar1.svg" : Model.ImageUrl)" class="avatar" />

    <h3>@Model.ClientName</h3>
    <button class="message-btn">Email client</button>
</div>
