@model EditProjectForm


<div id="editProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-type="modal" data-target="#editProjectModal" data-close="true"></button>
        </div>

        <form class="ajaxForm" novalidate method="post" asp-action="EditProject" asp-controller="Admin" enctype="multipart/form-data">

            <input asp-for="Id" type="hidden" />

            <div class="image-previewer circle">
                <img src="@(string.IsNullOrWhiteSpace(Model.ExistingImage) ? "/Images/Projecticon.svg" : Model.ExistingImage)" class="image-preview" />
                <input type="hidden" asp-for="ExistingImage" />
                <input asp-for="ProjectImage" type="file" accept="image/*" class="hide" />
            </div>



            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <textarea id="EditProject_Description" asp-for="Description" class="wysiwyg"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="ClientId"></label>
                <div class="field-group">
                    <select asp-for="ClientId" asp-items="ViewBag.Clients">
                        <option disabled selected value="">Select a client</option>
                    </select>
                    <span asp-validation-for="ClientId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MemberId"></label>
                <div class="field-group">
                    <select asp-for="MemberId" asp-items="ViewBag.Members">
                        <option disabled selected value="">Select a member</option>
                    </select>
                    <span asp-validation-for="MemberId"></span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <div class="field-group">
                        <input asp-for="StartDate" class="date-picker" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <div class="field-group">
                        <input asp-for="EndDate" class="date-picker" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>




            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="StatusId"></label>
                <div class="field-group">
                    <select asp-for="StatusId" name="StatusId">
                        <option disabled selected value="">Select status</option>
                    </select>
                    <span asp-validation-for="StatusId"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-blue btn-submit">Create</button>

        </form>

    </div>
</div>

