<div class="member-list">
    <table>
        <thead>
            <tr>
                <th class="member-check"><input type="checkbox" /></th>
                <th class="member-info">Client Name</th>
                <th class="member-location">Location</th>
                <th class="member-phone">Phone</th>
                <th class="member-date">Date</th>
                <th class="member-status">Status</th>
                <th class="member-actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="member-check"><input type="checkbox" /></td>
                <td class="member-info">
                    <img class="member-image" src="~/Images/Avatars/Avatar1.svg" />
                    <div class="member-name">Johan Ströberg</div>
                    <div class="member-email">info@domain.com</div>
                </td>
                <td class="member-location">Sweden</td>
                <td class="member-phone">0738099168</td>
                <td class="member-date">24-08-26</td>
                <td class="member-status">
                    <div class="badge success">
                        active
                    </div>
                </td>
                <td class="member-actions">
                    <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editMemberModal"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>