<form asp-controller="Auth" asp-action="ExternalSignIn" method="post" class="external-account" novalidate data-ignore="true"> 
     <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" /> 
     <input type="hidden" name="provider" value="Google"/>
     
     <button type="submit" name="provider" value="Google" class="btn-external btn-google">Login with Google</button> 
 </form>

