
@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);
    if (string.IsNullOrEmpty(provider))
        provider = "Local Identity";

    var email = User?.FindFirstValue(ClaimTypes.Email);
}



<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha Portal</title>
    <script type="importmap"></script>
    <script src="https://cdn.tiny.cloud/1/axlo9ocimpu6hqxess6wzjvogc90s6lkcxgz5671qfxw5ttd/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    

</head>
<body>
    
    <div class="portal">
        <div class="logotype">
            @await Html.PartialAsync("Partials/Components/_AlphaLogoType")
        </div>
        <div class="side">
            @await Html.PartialAsync("Partials/Components/_NavLinks")
        </div>
        <div class="top">
        <form method="get" asp-asp-controller="Admin" asp-action="Members" novalidate class="search-form">
                <img src="/Images/Search.svg" />
        <input type="search" name="query" class="form-search-input"  placeholder="Search anything..." />
        </form>
       
         <button type="button" data-type="dropdown" data-target="#notifications" class="btn-notification">
         <img src="~/Images/Settings.svg" />
         </button>
            
         <button type="button" data-type="dropdown" data-target="#account" class="btn-account">
                <img src="~/Images/Avatars/Avatar2.svg" alt="Male avatar picture" />
            </button>

            
            
            <div id="account" class="account-dropdown">
                <div class="account-info">
                    <img src="/Images/Avatars/Avatar2.svg" alt="Avatar" />
                    <span>@(ViewBag.FullName ?? @email)</span>
                </div>

                <div class="theme-toggle">
                    <label class="theme-switch">
                        <span class="theme-label">
                            <i class="fa-solid fa-gear"></i>
                            Dark Mode
                        </span>
                        <input type="checkbox" id="darkModeToggle" />
                        <span class="slider"></span>
                    </label>
                </div>


                <a href="/auth/logout" class="logout-link">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </a>
            </div>
            
             
        </div>
        <div class="main">

            @RenderBody()
        </div>
    </div>
    

    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    @await Html.PartialAsync("Partials/Sections/_DeleteModal")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
