@model MemberLogin
@{
    Layout = "_CleanLayout";
    ViewData["Title"] = "Login";
}


<section id="login">
    
    <h1> @ViewData["Title"] </h1>


    <form method="post" action="/Auth/ExternalSignIn" class="external-login-form">
        <input type="hidden" name="provider" value="Google" />
        <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />
        <button type="submit" class="btn btn-submit btn-external btn-google">
            <img src="@Url.Content("~/Images/google-icon.svg")" alt="Google sign in" class="google-icon" />
            <span>Login with Google</span>
        </button>
    </form>

    
    <form asp-controller="Auth" asp-action="SignIn" method="post" novalidate enctype="multipart/form-data">
        <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />
        
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email"/>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
        </div>

        @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
        {

            <div class="alert-notification error">
                @ViewBag?.ErrorMessage
            </div>
        }

        <div class="form-group">
            <button type="submit" class="btn btn-blue btn-submit">Login</button>
        </div>
    <div class="form-footer">
        <span>Don't have an account?</span>
    <a asp-controller="Auth" asp-action="SignUp">Sign up</a>
    </div>
    </form>

    

</section>

