@model IEnumerable<Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="page-header">
    
</div>

<partial name="Partials/Sections/_AddClientForm" model="new AddClientForm()" />
<partial name="Partials/Sections/_EditClientForm" model="new EditClientForm()" />

<section id="clients">

    <header>
        <h2>Clients</h2>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-blue btn-add">Add Client</button>

    </header>

    <div class="surface surface-cards">


        @if (Model != null)
        {
            foreach (var client in Model)
            {
                <partial name="Partials/Sections/_ClientList" model="client" />
            }
        }

    </div>

</section>

