@{
    ViewData["Title"] = "Team Members";
}


@* <partial name="Partials/Sections/_AddMemberForm" /> *@

<section id="team-members">
    <header>
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </header>
    <div class="surface">
        <partial name="Partials/Sections/_MemberList" />
    </div>
</section>

