@model IEnumerable<Projects>

@{
    ViewData["Title"] = "Projects view";
}


<partial name="Partials/Sections/_AddProjectForm" model="new AddProjectForm()" />
<partial name="Partials/Sections/_EditProjectForm" model="new EditProjectForm()" /> 




<section id="projects">
    <header>
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-blue btn-add">Projects</button>
    </header>

    <nav class="status-filter">
        <button class="filter-btn active" data-status="all">All</button>
        <button class="filter-btn" data-status="started">Started</button>
        <button class="filter-btn" data-status="completed">Completed</button>
    </nav>

    <div class="surface surface-cards">


        @if (Model != null)
        {
            foreach(var project in Model)
            {
                <partial name="Partials/Sections/_ProjectList" model="project" />
            }
        }
 
    </div>
</section>


