@{
    ViewData["Title"] = "Projects view";
}


<partial name="Partials/Sections/_AddProjectForm" />



<section id="projects">
    <header>
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add">Projects</button>
    </header>
    <div class="surface surface-cards">
        
        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
        <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        <div class="card">
            <partial name="Partials/Sections/_ProjectList" />
        </div>

        

    </div>
</section>

